<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org">
<head> 
    <title>Background entry</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<h1>Input a new background</h1>
    <form action="#" th:action="@{/background}" th:object="${background}" method="post" enctype="multipart/form-data">
    	<div>Name: <input type="text" th:field="*{name}" /></div>
        <div class "form-group">
        	<label for="proficiencies">Proficiencies</label>
        	<button class="btn btn-info" th:nowrap="true" type="submit" name="addProficiency" id="addProficiency">
        		Add Proficiency
        	</button>
        	<div th:if="*{proficiencies}">
 				<table cellpadding="5px 15px;">
	            <thead>
	            <tr>
	                <th>Index</th>
	                <th>Proficiency</th>
	                <th></th>
	            </tr>
	            </thead>
	            <tbody>
	            <tr th:each="eval, stat: *{proficiencies}">
	                <td th:text="${stat.count}">1</td>
	                <td><input type="text" class="form-control" th:field="*{proficiencies[__${stat.index}__]}"></td>
	                <td><button class="btn btn-info" type="submit" name="removeProficiency" id="removeProficiency" th:value="${stat.index}">Remove</button></td>
	            </tr>
	            </tbody>
	        </table>
        	</div>
        </div>
        <div class "form-group">
        	<label for="languages">Languages</label>
        	<button class="btn btn-info" th:nowrap="true" type="submit" name="addLanguage" id="addLanguage">
        		Add Language
        	</button>
        	<div th:if="*{languages}">
 				<table cellpadding="5px 15px;">
	            <thead>
	            <tr>
	                <th>Index</th>
	                <th>Name</th>
	                <th></th>
	            </tr>
	            </thead>
	            <tbody>
	            <tr th:each="eval, stat: *{languages}">
	                <td th:text="${stat.count}">1</td>
	                <td><input type="text" class="form-control" th:field="*{languages[__${stat.index}__]}"></td>
	                <td><button class="btn btn-info" type="submit" name="removeLanguage" id="removeLanguage" th:value="${stat.index}">Remove</button></td>
	            </tr>
	            </tbody>
	        </table>
        	</div>
        </div>
        <!--div>Equipment: <input type="text" th:field="*{equipment}" /></div-->
                <div class "form-group">
        	<label for="equipment">Equipment</label>
        	<button class="btn btn-info" th:nowrap="true" type="submit" name="addEquipment" id="addEquipment">
        		Add Equipment
        	</button>
        	<div th:if="*{Equipment}">
 				<table cellpadding="5px 15px;">
	            <thead>
	            <tr>
	                <th>Index</th>
	                <th>Name</th>
	                <th></th>
	            </tr>
	            </thead>
	            <tbody>
	            <tr th:each="eval, stat: *{equipment}">
	                <td th:text="${stat.count}">1</td>
	                <td><input type="text" class="form-control" th:field="*{equipment[__${stat.index}__]}"></td>
	                <td><button class="btn btn-info" type="submit" name="removeEquipment" id="removeEquipment" th:value="${stat.index}">Remove</button></td>
	            </tr>
	            </tbody>
	        </table>
        	</div>
        </div>
        <div>
        	Feature:
        	<div>Feature name: <input type="text" th:field="*{feature.name}" /></div>
        	<div>Feature description: <input type="text" th:field="*{feature.description}" /></div>
        </div>
        <div class="form-group">
        	<label for="personalityTraits">Personality Traits</label>
        	<button class="btn btn-info" th:nowrap="true" type="submit" name="addPersonalityTrait" id="addPersonalityTrait">
        		Add Personality Trait
        	</button>
        </div>
        <div th:if="*{personalityTraits}">
        	<table cellpadding="5px 15px;">
	            <thead>
	            <tr>
	                <th>Index</th>
	                <th>Personality Trait</th>
	                <th></th>
	            </tr>
	            </thead>
	            <tbody>
	            <tr th:each="eval, stat: *{personalityTraits}">
	                <td th:text="${stat.count}">1</td>
	                <td><input type="text" class="form-control" th:field="*{personalityTraits[__${stat.index}__]}"></td>
	                <td><button class="btn btn-info" type="submit" name="removePersonalityTrait" id="removePersonalityTrait" th:value="${stat.index}">Remove</button></td>
	            </tr>
	            </tbody>
	        </table>
        </div>
        <div class="form-group">
        	<label for="ideals">Ideals</label>
        	<button class="btn btn-info" th:nowrap="true" type="submit" name="addIdeal" id="addIdeal">
        		Add Ideal
        	</button>
        </div>
        <div th:if="*{ideals}">
        	<table cellpadding="5px 15px;">
	            <thead>
	            <tr>
	                <th>Index</th>
	                <th>Ideal</th>
	                <th></th>
	            </tr>
	            </thead>
	            <tbody>
	            <tr th:each="eval, stat: *{ideals}">
	                <td th:text="${stat.count}">1</td>
	                <td><input type="text" class="form-control" th:field="*{ideals[__${stat.index}__]}"></td>
	                <td><button class="btn btn-info" type="submit" name="removeIdeal" id="removeIdeal" th:value="${stat.index}">Remove</button></td>
	            </tr>
	            </tbody>
	        </table>
        </div>
        <div class="form-group">
        	<label for="bonds">Bonds</label>
        	<button class="btn btn-info" th:nowrap="true" type="submit" name="addBond" id="addBond">
        		Add Bond
        	</button>
        </div>
        <div th:if="*{bonds}">
        	<table cellpadding="5px 15px;">
	            <thead>
	            <tr>
	                <th>Index</th>
	                <th>Bond</th>
	                <th></th>
	            </tr>
	            </thead>
	            <tbody>
	            <tr th:each="eval, stat: *{bonds}">
	                <td th:text="${stat.count}">1</td>
	                <td><input type="text" class="form-control" th:field="*{bonds[__${stat.index}__]}"></td>
	                <td><button class="btn btn-info" type="submit" name="removeBond" id="removeBond" th:value="${stat.index}">Remove</button></td>
	            </tr>
	            </tbody>
	        </table>
        </div>
        <div class="form-group">
        	<label for="flaws">Flaws</label>
        	<button class="btn btn-info" th:nowrap="true" type="submit" name="addFlaw" id="addFlaw">
        		Add Flaw
        	</button>
        </div>
        <div th:if="*{flaws}">
        	<table cellpadding="5px 15px;">
	            <thead>
	            <tr>
	                <th>Index</th>
	                <th>Flaw</th>
	                <th></th>
	            </tr>
	            </thead>
	            <tbody>
	            <tr th:each="eval, stat: *{flaws}">
	                <td th:text="${stat.count}">1</td>
	                <td><input type="text" class="form-control" th:field="*{flaws[__${stat.index}__]}"></td>
	                <td><button class="btn btn-info" type="submit" name="removeFlaw" id="removeFlaw" th:value="${stat.index}">Remove</button></td>
	            </tr>
	            </tbody>
	        </table>
        </div>
        <div><input type="submit" value="Submit" /> <input type="reset" value="Reset" /></div>
    </form>
</body>
</html>