<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org">
<head> 
    <title>Background entry</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<h1>Form</h1>
    <form action="#" th:action="@{/background}" th:object="${background}" method="post">
    	<div>Name: <input type="text" th:field="*{name}" /></div>
        <div>Proficiencies: <input type="text" th:field="*{proficiencies}" /></div>
        <div>Languages: <input type="text" th:field="*{languages}" /></div>
        <div>Equipment: <input type="text" th:field="*{equipment}" /></div>
        <!--div>Feature: <input type="text" th:field="*{feature}" /></div-->
        
        <div>
        	Feature:
        	<div>Feature name: <input type="text" th:field="*{feature.name}" /></div>
        	<div>Feature description: <input type="text" th:field="*{feature.description}" /></div>
        </div>
        <!--div>
        	Characteristic:
        	<div>Characteristic name: <input type="text" th:field="*{characteristics.name}" /></div>
        	<div>Characteristic description: <input type="text" th:field="*{characteristics.decription}" /></div>
        	<div>Characteristic type: <input type="text" th:field="*{characteristics.type}" /></div>
        </div-->
        
        <div>Characteristics: <input type="text" th:field="*{characteristics}" /></div>
       
        
        <div><input type="submit" value="Submit" /> <input type="reset" value="Reset" /></div>
    </form>
    

    
</body>
</html>