<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org">
<head> 
    <title>New Character Creation</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<h1>Create a new character</h1>
    <form action="#" th:action="@{/creation}" th:object="${playerCharacter}" method="post" enctype="multipart/form-data">
    	<div>Name: <input type="text" th:field="*{name}" /></div>
        <div>Class: <select th:field=*{className[0]}>
			<option th:each="class : ${classList}" th:value=${class} th:text=${class} />          
        </select></div>
        <div>Race: <select th:field=*{race}>
			<option th:each="race : ${raceList}" th:value=${race} th:text=${race} />          
        </select></div>
        <div>Background: <select th:field=*{background}>
			<option th:each="background : ${backgroundList}" th:value=${background} th:text=${background} />          
        </select></div>
        <!--div class "form-group">
        	<label for="proficiencies">Proficiencies</label>
        	<button class="btn btn-info" th:nowrap="true" type="submit" name="addProficiency" id="addProficiency">
        		Add Proficiency
        	</button>
        	<div th:if="*{proficiencies}">
 				<table cellpadding="5px 15px;">
	            <thead>
	            <tr>
	                <th>Index</th>
	                <th>Proficiency</th>
	                <th></th>
	            </tr>
	            </thead>
	            <tbody>
	            <tr th:each="eval, stat: *{proficiencies}">
	                <td th:text="${stat.count}">1</td>
	                <td><input type="text" class="form-control" th:field="*{proficiencies[__${stat.index}__]}"></td>
	                <td><button class="btn btn-info" type="submit" name="removeProficiency" id="removeProficiency" th:value="${stat.index}">Remove</button></td>
	            </tr>
	            </tbody>
	        </table>
        	</div>
        </div-->
        <div><input type="submit" value="Submit" /> <input type="reset" value="Reset" /></div>
    </form>
</body>
</html>